In [1]:
# install a connector
# !pip install mysql-connector-python

In [2]:
# import mconnection
import mysql.connector as connection
import csv

In [3]:
#credentials
hotname = "localhost"
username = "root"
password = "****"

#Establish connect
mydb = connection.connect(host=hotname,user=username, passwd=password)
cursor = mydb.cursor()

# Query1 : Check the database names

In [4]:
# write query and excute 
query = "SHOW DATABASES"  
cursor.execute(query)
cursor.fetchall()

[('information_schema',),
 ('mysql',),
 ('performance_schema',),
 ('sakila',),
 ('student546',),
 ('sys',),
 ('world',)]

# Query2: Drop database not need

In [5]:
# write query and excute 
query = "DROP DATABASE student546"  
cursor.execute(query)
cursor.fetchall()

[]

In [6]:
# Check the database to varify
query = "SHOW DATABASES"  
cursor.execute(query)
cursor.fetchall()

[('information_schema',),
 ('mysql',),
 ('performance_schema',),
 ('sakila',),
 ('sys',),
 ('world',)]

# Query3: SELECT

In [7]:
query= "SELECT * FROM  sakila.actor LIMIT 10"
cursor.execute(query)
cursor.fetchall()

[(1, 'PENELOPE', 'GUINESS', datetime.datetime(2006, 2, 15, 4, 34, 33)),
 (2, 'NICK', 'WAHLBERG', datetime.datetime(2006, 2, 15, 4, 34, 33)),
 (3, 'ED', 'CHASE', datetime.datetime(2006, 2, 15, 4, 34, 33)),
 (4, 'JENNIFER', 'DAVIS', datetime.datetime(2006, 2, 15, 4, 34, 33)),
 (5, 'JOHNNY', 'LOLLOBRIGIDA', datetime.datetime(2006, 2, 15, 4, 34, 33)),
 (6, 'BETTE', 'NICHOLSON', datetime.datetime(2006, 2, 15, 4, 34, 33)),
 (7, 'GRACE', 'MOSTEL', datetime.datetime(2006, 2, 15, 4, 34, 33)),
 (8, 'MATTHEW', 'JOHANSSON', datetime.datetime(2006, 2, 15, 4, 34, 33)),
 (9, 'JOE', 'SWANK', datetime.datetime(2006, 2, 15, 4, 34, 33)),
 (10, 'CHRISTIAN', 'GABLE', datetime.datetime(2006, 2, 15, 4, 34, 33))]

# Query4: WHERE

In [8]:
query= "SELECT * FROM  sakila.actor WHERE first_name = 'NICK'"
cursor.execute(query)
cursor.fetchall()

[(2, 'NICK', 'WAHLBERG', datetime.datetime(2006, 2, 15, 4, 34, 33)),
 (44, 'NICK', 'STALLONE', datetime.datetime(2006, 2, 15, 4, 34, 33)),
 (166, 'NICK', 'DEGENERES', datetime.datetime(2006, 2, 15, 4, 34, 33))]

# Query5: ORDER BY

In [9]:
query= "SELECT * FROM  sakila.actor ORDER BY first_name DESC LIMIT 10"
cursor.execute(query)
cursor.fetchall()

[(11, 'ZERO', 'CAGE', datetime.datetime(2006, 2, 15, 4, 34, 33)),
 (28, 'WOODY', 'HOFFMAN', datetime.datetime(2006, 2, 15, 4, 34, 33)),
 (82, 'WOODY', 'JOLIE', datetime.datetime(2006, 2, 15, 4, 34, 33)),
 (175, 'WILLIAM', 'HACKMAN', datetime.datetime(2006, 2, 15, 4, 34, 33)),
 (168, 'WILL', 'WILSON', datetime.datetime(2006, 2, 15, 4, 34, 33)),
 (140, 'WHOOPI', 'HURT', datetime.datetime(2006, 2, 15, 4, 34, 33)),
 (108, 'WARREN', 'NOLTE', datetime.datetime(2006, 2, 15, 4, 34, 33)),
 (119, 'WARREN', 'JACKMAN', datetime.datetime(2006, 2, 15, 4, 34, 33)),
 (102, 'WALTER', 'TORN', datetime.datetime(2006, 2, 15, 4, 34, 33)),
 (14, 'VIVIEN', 'BERGEN', datetime.datetime(2006, 2, 15, 4, 34, 33))]

# Query6:  LIKE OPERATOR

In [10]:
query= "SELECT * FROM  sakila.actor WHERE first_name LIKE '%ER' "
cursor.execute(query)
cursor.fetchall()

[(4, 'JENNIFER', 'DAVIS', datetime.datetime(2006, 2, 15, 4, 34, 33)),
 (46, 'PARKER', 'GOLDBERG', datetime.datetime(2006, 2, 15, 4, 34, 33)),
 (87, 'SPENCER', 'PECK', datetime.datetime(2006, 2, 15, 4, 34, 33)),
 (91, 'CHRISTOPHER', 'BERRY', datetime.datetime(2006, 2, 15, 4, 34, 33)),
 (100, 'SPENCER', 'DEPP', datetime.datetime(2006, 2, 15, 4, 34, 33)),
 (102, 'WALTER', 'TORN', datetime.datetime(2006, 2, 15, 4, 34, 33)),
 (109, 'SYLVESTER', 'DERN', datetime.datetime(2006, 2, 15, 4, 34, 33)),
 (143, 'RIVER', 'DEAN', datetime.datetime(2006, 2, 15, 4, 34, 33)),
 (163, 'CHRISTOPHER', 'WEST', datetime.datetime(2006, 2, 15, 4, 34, 33))]

# Query7: Group by

In [11]:
query= "SELECT first_name ,COUNT(first_name) FROM  sakila.actor GROUP BY first_name ORDER BY COUNT(first_name) DESC LIMIT 10"
cursor.execute(query)
cursor.fetchall()

[('PENELOPE', 4),
 ('JULIA', 4),
 ('KENNETH', 4),
 ('NICK', 3),
 ('ED', 3),
 ('CAMERON', 3),
 ('DAN', 3),
 ('MATTHEW', 3),
 ('CHRISTIAN', 3),
 ('BURT', 3)]

# Query8: HAVING

In [12]:
query= "SELECT first_name FROM  sakila.actor GROUP BY (first_name) HAVING COUNT(first_name) = 4"
cursor.execute(query)
cursor.fetchall()

[('PENELOPE',), ('JULIA',), ('KENNETH',)]

# Query9: Join

In [13]:
query = "SELECT * FROM  world.city LEFT JOIN world.countrylanguage ON city.CountryCode = countrylanguage.CountryCode LIMIT 10;"
cursor.execute(query)
cursor.fetchall()

[(1, 'Kabul', 'AFG', 'Kabol', 1780000, 'AFG', 'Balochi', 'F', 0.9),
 (1, 'Kabul', 'AFG', 'Kabol', 1780000, 'AFG', 'Dari', 'T', 32.1),
 (1, 'Kabul', 'AFG', 'Kabol', 1780000, 'AFG', 'Pashto', 'T', 52.4),
 (1, 'Kabul', 'AFG', 'Kabol', 1780000, 'AFG', 'Turkmenian', 'F', 1.9),
 (1, 'Kabul', 'AFG', 'Kabol', 1780000, 'AFG', 'Uzbek', 'F', 8.8),
 (2, 'Qandahar', 'AFG', 'Qandahar', 237500, 'AFG', 'Balochi', 'F', 0.9),
 (2, 'Qandahar', 'AFG', 'Qandahar', 237500, 'AFG', 'Dari', 'T', 32.1),
 (2, 'Qandahar', 'AFG', 'Qandahar', 237500, 'AFG', 'Pashto', 'T', 52.4),
 (2, 'Qandahar', 'AFG', 'Qandahar', 237500, 'AFG', 'Turkmenian', 'F', 1.9),
 (2, 'Qandahar', 'AFG', 'Qandahar', 237500, 'AFG', 'Uzbek', 'F', 8.8)]

# Query10: CREATE DATABASE

In [14]:
query = "CREATE DATABASE student"
cursor.execute(query)
cursor.fetchall()

[]

In [15]:
mydb.commit()

In [16]:
query = "SHOW DATABASES"
cursor.execute(query)
cursor.fetchall()

[('information_schema',),
 ('mysql',),
 ('performance_schema',),
 ('sakila',),
 ('student',),
 ('sys',),
 ('world',)]

# Query 11: CREATE TABLE

In [17]:
query = "CREATE TABLE student.name(stu_id INT NOT NULL,first_name VARCHAR(100) NOT NULL,last_name VARCHAR(40) NOT NULL)"
cursor.execute(query)
cursor.fetchall()

[]

# QUERY 12 : SCHEMA CHECK

In [18]:
query = "DESC student.name"
cursor.execute(query)
cursor.fetchall()

[('stu_id', b'int', 'NO', '', None, ''),
 ('first_name', b'varchar(100)', 'NO', '', None, ''),
 ('last_name', b'varchar(40)', 'NO', '', None, '')]

# Query13 : INSERT ROW

In [19]:
query = "INSERT INTO student.name VALUES(1,'Rahul','Mourya'),(2,'Sagareeka','Soni'),(3,'Meghna','Rawat')"
cursor.execute(query)
cursor.fetchall()

[]

In [20]:
query = "SELECT * FROM student.name"
cursor.execute(query)
cursor.fetchall()

[(1, 'Rahul', 'Mourya'), (2, 'Sagareeka', 'Soni'), (3, 'Meghna', 'Rawat')]

# Query14 : UPDATE VALUE

In [21]:
query = "UPDATE  student.name SET last_name = 'Maurya' WHERE stu_id=1"
cursor.execute(query)
cursor.fetchall()

[]

In [22]:
query = "SELECT * FROM student.name"
cursor.execute(query)
cursor.fetchall()

[(1, 'Rahul', 'Maurya'), (2, 'Sagareeka', 'Soni'), (3, 'Meghna', 'Rawat')]

# Query15 : DELETE ROW

In [23]:
query = "DELETE FROM student.name WHERE first_name = 'Rahul'"
cursor.execute(query)
cursor.fetchall()

[]

In [24]:
query = "SELECT * FROM student.name"
cursor.execute(query)
cursor.fetchall()

[(2, 'Sagareeka', 'Soni'), (3, 'Meghna', 'Rawat')]

# Query16: ALTER TABLE

In [25]:
query = "ALTER TABLE student.name ADD email varchar(50) NOT NULL"
cursor.execute(query)
cursor.fetchall()

[]

In [26]:
query = "DESC student.name"
cursor.execute(query)
cursor.fetchall()

[('stu_id', b'int', 'NO', '', None, ''),
 ('first_name', b'varchar(100)', 'NO', '', None, ''),
 ('last_name', b'varchar(40)', 'NO', '', None, ''),
 ('email', b'varchar(50)', 'NO', '', None, '')]

# QUERY17: SQL CONSTRAINTS

In [27]:
# Primary key & Not Null
query = "CREATE TABLE student.marks(subject_id int NOT NULL PRIMARY KEY,subject_marks int NOT NULL)"
cursor.execute(query)
cursor.fetchall()

[]

In [28]:
query = "DESC student.marks"
cursor.execute(query)
cursor.fetchall()

[('subject_id', b'int', 'NO', 'PRI', None, ''),
 ('subject_marks', b'int', 'NO', '', None, '')]

# Query18: CREATE VIEW

In [29]:
query = "CREATE VIEW world.city_view AS SELECT ID , NAME, CountryCode FROM  world.city WHERE CountryCode LIKE '%A';"
cursor.execute(query)
cursor.fetchall()

[]

In [30]:
query= "SELECT * FROM world.city_view"
cursor.execute(query)
cursor.fetchall()

[(35, 'Alger', 'DZA'),
 (36, 'Oran', 'DZA'),
 (37, 'Constantine', 'DZA'),
 (38, 'Annaba', 'DZA'),
 (39, 'Batna', 'DZA'),
 (40, 'SÃ©tif', 'DZA'),
 (41, 'Sidi Bel AbbÃ¨s', 'DZA'),
 (42, 'Skikda', 'DZA'),
 (43, 'Biskra', 'DZA'),
 (44, 'Blida (el-Boulaida)', 'DZA'),
 (45, 'BÃ©jaÃ¯a', 'DZA'),
 (46, 'Mostaganem', 'DZA'),
 (47, 'TÃ©bessa', 'DZA'),
 (48, 'Tlemcen (Tilimsen)', 'DZA'),
 (49, 'BÃ©char', 'DZA'),
 (50, 'Tiaret', 'DZA'),
 (51, 'Ech-Chleff (el-Asnam)', 'DZA'),
 (52, 'GhardaÃ¯a', 'DZA'),
 (61, 'South Hill', 'AIA'),
 (62, 'The Valley', 'AIA'),
 (204, 'Gaborone', 'BWA'),
 (205, 'Francistown', 'BWA'),
 (206, 'SÃ£o Paulo', 'BRA'),
 (207, 'Rio de Janeiro', 'BRA'),
 (208, 'Salvador', 'BRA'),
 (209, 'Belo Horizonte', 'BRA'),
 (210, 'Fortaleza', 'BRA'),
 (211, 'BrasÃ\xadlia', 'BRA'),
 (212, 'Curitiba', 'BRA'),
 (213, 'Recife', 'BRA'),
 (214, 'Porto Alegre', 'BRA'),
 (215, 'Manaus', 'BRA'),
 (216, 'BelÃ©m', 'BRA'),
 (217, 'Guarulhos', 'BRA'),
 (218, 'GoiÃ¢nia', 'BRA'),
 (219, 'Campinas', 'BRA'),
 (220, 'SÃ£o GonÃ§alo', 'BRA'),
 (221, 'Nova IguaÃ§u', 'BRA'),
 (222, 'SÃ£o LuÃ\xads', 'BRA'),
 (223, 'MaceiÃ³', 'BRA'),
 (224, 'Duque de Caxias', 'BRA'),
 (225, 'SÃ£o Bernardo do Campo', 'BRA'),
 (226, 'Teresina', 'BRA'),
 (227, 'Natal', 'BRA'),
 (228, 'Osasco', 'BRA'),
 (229, 'Campo Grande', 'BRA'),
 (230, 'Santo AndrÃ©', 'BRA'),
 (231, 'JoÃ£o Pessoa', 'BRA'),
 (232, 'JaboatÃ£o dos Guararapes', 'BRA'),
 (233, 'Contagem', 'BRA'),
 (234, 'SÃ£o JosÃ© dos Campos', 'BRA'),
 (235, 'UberlÃ¢ndia', 'BRA'),
 (236, 'Feira de Santana', 'BRA'),
 (237, 'RibeirÃ£o Preto', 'BRA'),
 (238, 'Sorocaba', 'BRA'),
 (239, 'NiterÃ³i', 'BRA'),
 (240, 'CuiabÃ¡', 'BRA'),
 (241, 'Juiz de Fora', 'BRA'),
 (242, 'Aracaju', 'BRA'),
 (243, 'SÃ£o JoÃ£o de Meriti', 'BRA'),
 (244, 'Londrina', 'BRA'),
 (245, 'Joinville', 'BRA'),
 (246, 'Belford Roxo', 'BRA'),
 (247, 'Santos', 'BRA'),
 (248, 'Ananindeua', 'BRA'),
 (249, 'Campos dos Goytacazes', 'BRA'),
 (250, 'MauÃ¡', 'BRA'),
 (251, 'CarapicuÃ\xadba', 'BRA'),
 (252, 'Olinda', 'BRA'),
 (253, 'Campina Grande', 'BRA'),
 (254, 'SÃ£o JosÃ© do Rio Preto', 'BRA'),
 (255, 'Caxias do Sul', 'BRA'),
 (256, 'Moji das Cruzes', 'BRA'),
 (257, 'Diadema', 'BRA'),
 (258, 'Aparecida de GoiÃ¢nia', 'BRA'),
 (259, 'Piracicaba', 'BRA'),
 (260, 'Cariacica', 'BRA'),
 (261, 'Vila Velha', 'BRA'),
 (262, 'Pelotas', 'BRA'),
 (263, 'Bauru', 'BRA'),
 (264, 'Porto Velho', 'BRA'),
 (265, 'Serra', 'BRA'),
 (266, 'Betim', 'BRA'),
 (267, 'JundÃ\xadaÃ\xad', 'BRA'),
 (268, 'Canoas', 'BRA'),
 (269, 'Franca', 'BRA'),
 (270, 'SÃ£o Vicente', 'BRA'),
 (271, 'MaringÃ¡', 'BRA'),
 (272, 'Montes Claros', 'BRA'),
 (273, 'AnÃ¡polis', 'BRA'),
 (274, 'FlorianÃ³polis', 'BRA'),
 (275, 'PetrÃ³polis', 'BRA'),
 (276, 'Itaquaquecetuba', 'BRA'),
 (277, 'VitÃ³ria', 'BRA'),
 (278, 'Ponta Grossa', 'BRA'),
 (279, 'Rio Branco', 'BRA'),
 (280, 'Foz do IguaÃ§u', 'BRA'),
 (281, 'MacapÃ¡', 'BRA'),
 (282, 'IlhÃ©us', 'BRA'),
 (283, 'VitÃ³ria da Conquista', 'BRA'),
 (284, 'Uberaba', 'BRA'),
 (285, 'Paulista', 'BRA'),
 (286, 'Limeira', 'BRA'),
 (287, 'Blumenau', 'BRA'),
 (288, 'Caruaru', 'BRA'),
 (289, 'SantarÃ©m', 'BRA'),
 (290, 'Volta Redonda', 'BRA'),
 (291, 'Novo Hamburgo', 'BRA'),
 (292, 'Caucaia', 'BRA'),
 (293, 'Santa Maria', 'BRA'),
 (294, 'Cascavel', 'BRA'),
 (295, 'GuarujÃ¡', 'BRA'),
 (296, 'RibeirÃ£o das Neves', 'BRA'),
 (297, 'Governador Valadares', 'BRA'),
 (298, 'TaubatÃ©', 'BRA'),
 (299, 'Imperatriz', 'BRA'),
 (300, 'GravataÃ\xad', 'BRA'),
 (301, 'Embu', 'BRA'),
 (302, 'MossorÃ³', 'BRA'),
 (303, 'VÃ¡rzea Grande', 'BRA'),
 (304, 'Petrolina', 'BRA'),
 (305, 'Barueri', 'BRA'),
 (306, 'ViamÃ£o', 'BRA'),
 (307, 'Ipatinga', 'BRA'),
 (308, 'Juazeiro', 'BRA'),
 (309, 'Juazeiro do Norte', 'BRA'),
 (310, 'TaboÃ£o da Serra', 'BRA'),
 (311, 'SÃ£o JosÃ© dos Pinhais', 'BRA'),
 (312, 'MagÃ©', 'BRA'),
 (313, 'Suzano', 'BRA'),
 (314, 'SÃ£o Leopoldo', 'BRA'),
 (315, 'MarÃ\xadlia', 'BRA'),
 (316, 'SÃ£o Carlos', 'BRA'),
 (317, 'SumarÃ©', 'BRA'),
 (318, 'Presidente Prudente', 'BRA'),
 (319, 'DivinÃ³polis', 'BRA'),
 (320, 'Sete Lagoas', 'BRA'),
 (321, 'Rio Grande', 'BRA'),
 (322, 'Itabuna', 'BRA'),
 (323, 'JequiÃ©', 'BRA'),
 (324, 'Arapiraca', 'BRA'),
 (325, 'Colombo', 'BRA'),
 (326, 'Americana', 'BRA'),
 (327, 'Alvorada', 'BRA'),
 (328, 'Araraquara', 'BRA'),
 (329, 'ItaboraÃ\xad', 'BRA'),
 (330, 'Santa BÃ¡rbara dÂ´Oeste', 'BRA'),
 (331, 'Nova Friburgo', 'BRA'),
 (332, 'JacareÃ\xad', 'BRA'),
 (333, 'AraÃ§atuba', 'BRA'),
 (334, 'Barra Mansa', 'BRA'),
 (335, 'Praia Grande', 'BRA'),
 (336, 'MarabÃ¡', 'BRA'),
 (337, 'CriciÃºma', 'BRA'),
 (338, 'Boa Vista', 'BRA'),
 (339, 'Passo Fundo', 'BRA'),
 (340, 'Dourados', 'BRA'),
 (341, 'Santa Luzia', 'BRA'),
 (342, 'Rio Claro', 'BRA'),
 (343, 'MaracanaÃº', 'BRA'),
 (344, 'Guarapuava', 'BRA'),
 (345, 'RondonÃ³polis', 'BRA'),
 (346, 'SÃ£o JosÃ©', 'BRA'),
 (347, 'Cachoeiro de Itapemirim', 'BRA'),
 (348, 'NilÃ³polis', 'BRA'),
 (349, 'Itapevi', 'BRA'),
 (350, 'Cabo de Santo Agostinho', 'BRA'),
 (351, 'CamaÃ§ari', 'BRA'),
 (352, 'Sobral', 'BRA'),
 (353, 'ItajaÃ\xad', 'BRA'),
 (354, 'ChapecÃ³', 'BRA'),
 (355, 'Cotia', 'BRA'),
 (356, 'Lages', 'BRA'),
 (357, 'Ferraz de Vasconcelos', 'BRA'),
 (358, 'Indaiatuba', 'BRA'),
 (359, 'HortolÃ¢ndia', 'BRA'),
 (360, 'Caxias', 'BRA'),
 (361, 'SÃ£o Caetano do Sul', 'BRA'),
 (362, 'Itu', 'BRA'),
 (363, 'Nossa Senhora do Socorro', 'BRA'),
 (364, 'ParnaÃ\xadba', 'BRA'),
 (365, 'PoÃ§os de Caldas', 'BRA'),
 (366, 'TeresÃ³polis', 'BRA'),
 (367, 'Barreiras', 'BRA'),
 (368, 'Castanhal', 'BRA'),
 (369, 'Alagoinhas', 'BRA'),
 (370, 'Itapecerica da Serra', 'BRA'),
 (371, 'Uruguaiana', 'BRA'),
 (372, 'ParanaguÃ¡', 'BRA'),
 (373, 'IbiritÃ©', 'BRA'),
 (374, 'Timon', 'BRA'),
 (375, 'LuziÃ¢nia', 'BRA'),
 (376, 'MacaÃ©', 'BRA'),
 (377, 'TeÃ³filo Otoni', 'BRA'),
 (378, 'Moji-GuaÃ§u', 'BRA'),
 (379, 'Palmas', 'BRA'),
 (380, 'Pindamonhangaba', 'BRA'),
 (381, 'Francisco Morato', 'BRA'),
 (382, 'BagÃ©', 'BRA'),
 (383, 'Sapucaia do Sul', 'BRA'),
 (384, 'Cabo Frio', 'BRA'),
 (385, 'Itapetininga', 'BRA'),
 (386, 'Patos de Minas', 'BRA'),
 (387, 'Camaragibe', 'BRA'),
 (388, 'BraganÃ§a Paulista', 'BRA'),
 (389, 'Queimados', 'BRA'),
 (390, 'AraguaÃ\xadna', 'BRA'),
 (391, 'Garanhuns', 'BRA'),
 (392, 'VitÃ³ria de Santo AntÃ£o', 'BRA'),
 (393, 'Santa Rita', 'BRA'),
 (394, 'Barbacena', 'BRA'),
 (395, 'Abaetetuba', 'BRA'),
 (396, 'JaÃº', 'BRA'),
 (397, 'Lauro de Freitas', 'BRA'),
 (398, 'Franco da Rocha', 'BRA'),
 (399, 'Teixeira de Freitas', 'BRA'),
 (400, 'Varginha', 'BRA'),
 (401, 'RibeirÃ£o Pires', 'BRA'),
 (402, 'SabarÃ¡', 'BRA'),
 (403, 'Catanduva', 'BRA'),
 (404, 'Rio Verde', 'BRA'),
 (405, 'Botucatu', 'BRA'),
 (406, 'Colatina', 'BRA'),
 (407, 'Santa Cruz do Sul', 'BRA'),
 (408, 'Linhares', 'BRA'),
 (409, 'Apucarana', 'BRA'),
 (410, 'Barretos', 'BRA'),
 (411, 'GuaratinguetÃ¡', 'BRA'),
 (412, 'Cachoeirinha', 'BRA'),
 (413, 'CodÃ³', 'BRA'),
 (414, 'JaraguÃ¡ do Sul', 'BRA'),
 (415, 'CubatÃ£o', 'BRA'),
 (416, 'Itabira', 'BRA'),
 (417, 'Itaituba', 'BRA'),
 (418, 'Araras', 'BRA'),
 (419, 'Resende', 'BRA'),
 (420, 'Atibaia', 'BRA'),
 (421, 'Pouso Alegre', 'BRA'),
 (422, 'Toledo', 'BRA'),
 (423, 'Crato', 'BRA'),
 (424, 'Passos', 'BRA'),
 (425, 'Araguari', 'BRA'),
 (426, 'SÃ£o JosÃ© de Ribamar', 'BRA'),
 (427, 'Pinhais', 'BRA'),
 (428, 'SertÃ£ozinho', 'BRA'),
 (429, 'Conselheiro Lafaiete', 'BRA'),
 (430, 'Paulo Afonso', 'BRA'),
 (431, 'Angra dos Reis', 'BRA'),
 (432, 'EunÃ¡polis', 'BRA'),
 (433, 'Salto', 'BRA'),
 (434, 'Ourinhos', 'BRA'),
 (435, 'Parnamirim', 'BRA'),
 (436, 'Jacobina', 'BRA'),
 (437, 'Coronel Fabriciano', 'BRA'),
 (438, 'Birigui', 'BRA'),
 (439, 'TatuÃ\xad', 'BRA'),
 (440, 'Ji-ParanÃ¡', 'BRA'),
 (441, 'Bacabal', 'BRA'),
 (442, 'CametÃ¡', 'BRA'),
 (443, 'GuaÃ\xadba', 'BRA'),
 (444, 'SÃ£o LourenÃ§o da Mata', 'BRA'),
 (445, 'Santana do Livramento', 'BRA'),
 (446, 'Votorantim', 'BRA'),
 (447, 'Campo Largo', 'BRA'),
 (448, 'Patos', 'BRA'),
 (449, 'Ituiutaba', 'BRA'),
 (450, 'CorumbÃ¡', 'BRA'),
 (451, 'PalhoÃ§a', 'BRA'),
 (452, 'Barra do PiraÃ\xad', 'BRA'),
 (453, 'Bento GonÃ§alves', 'BRA'),
 (454, 'PoÃ¡', 'BRA'),
 (455, 'Ã\x81guas Lindas de GoiÃ¡s', 'BRA'),
 (549, 'Ouagadougou', 'BFA'),
 (550, 'Bobo-Dioulasso', 'BFA'),
 (551, 'Koudougou', 'BFA'),
 (586, 'Roseau', 'DMA'),
 (910, 'Accra', 'GHA'),
 (911, 'Kumasi', 'GHA'),
 (912, 'Tamale', 'GHA'),
 (913, 'Tema', 'GHA'),
 (914, 'Sekondi-Takoradi', 'GHA'),
 (1464, 'Roma', 'ITA'),
 (1465, 'Milano', 'ITA'),
 (1466, 'Napoli', 'ITA'),
 (1467, 'Torino', 'ITA'),
 (1468, 'Palermo', 'ITA'),
 (1469, 'Genova', 'ITA'),
 (1470, 'Bologna', 'ITA'),
 (1471, 'Firenze', 'ITA'),
 (1472, 'Catania', 'ITA'),
 (1473, 'Bari', 'ITA'),
 (1474, 'Venezia', 'ITA'),
 (1475, 'Messina', 'ITA'),
 (1476, 'Verona', 'ITA'),
 (1477, 'Trieste', 'ITA'),
 (1478, 'Padova', 'ITA'),
 (1479, 'Taranto', 'ITA'),
 (1480, 'Brescia', 'ITA'),
 (1481, 'Reggio di Calabria', 'ITA'),
 (1482, 'Modena', 'ITA'),
 (1483, 'Prato', 'ITA'),
 (1484, 'Parma', 'ITA'),
 (1485, 'Cagliari', 'ITA'),
 (1486, 'Livorno', 'ITA'),
 (1487, 'Perugia', 'ITA'),
 (1488, 'Foggia', 'ITA'),
 (1489, 'Reggio nellÂ´ Emilia', 'ITA'),
 (1490, 'Salerno', 'ITA'),
 (1491, 'Ravenna', 'ITA'),
 (1492, 'Ferrara', 'ITA'),
 (1493, 'Rimini', 'ITA'),
 (1494, 'Syrakusa', 'ITA'),
 (1495, 'Sassari', 'ITA'),
 (1496, 'Monza', 'ITA'),
 (1497, 'Bergamo', 'ITA'),
 (1498, 'Pescara', 'ITA'),
 (1499, 'Latina', 'ITA'),
 (1500, 'Vicenza', 'ITA'),
 (1501, 'Terni', 'ITA'),
 (1502, 'ForlÃ¬', 'ITA'),
 (1503, 'Trento', 'ITA'),
 (1504, 'Novara', 'ITA'),
 (1505, 'Piacenza', 'ITA'),
 (1506, 'Ancona', 'ITA'),
 (1507, 'Lecce', 'ITA'),
 (1508, 'Bolzano', 'ITA'),
 (1509, 'Catanzaro', 'ITA'),
 (1510, 'La Spezia', 'ITA'),
 (1511, 'Udine', 'ITA'),
 (1512, 'Torre del Greco', 'ITA'),
 (1513, 'Andria', 'ITA'),
 (1514, 'Brindisi', 'ITA'),
 (1515, 'Giugliano in Campania', 'ITA'),
 (1516, 'Pisa', 'ITA'),
 (1517, 'Barletta', 'ITA'),
 (1518, 'Arezzo', 'ITA'),
 (1519, 'Alessandria', 'ITA'),
 (1520, 'Cesena', 'ITA'),
 (1521, 'Pesaro', 'ITA'),
 (2434, 'Riga', 'LVA'),
 (2435, 'Daugavpils', 'LVA'),
 (2436, 'Liepaja', 'LVA'),
 (2690, 'Chisinau', 'MDA'),
 (2691, 'Tiraspol', 'MDA'),
 (2692, 'Balti', 'MDA'),
 (2693, 'Bender (TÃ®ghina)', 'MDA'),
 (2741, 'Lagos', 'NGA'),
 (2742, 'Ibadan', 'NGA'),
 (2743, 'Ogbomosho', 'NGA'),
 (2744, 'Kano', 'NGA'),
 (2745, 'Oshogbo', 'NGA'),
 (2746, 'Ilorin', 'NGA'),
 (2747, 'Abeokuta', 'NGA'),
 (2748, 'Port Harcourt', 'NGA'),
 (2749, 'Zaria', 'NGA'),
 (2750, 'Ilesha', 'NGA'),
 (2751, 'Onitsha', 'NGA'),
 (2752, 'Iwo', 'NGA'),
 (2753, 'Ado-Ekiti', 'NGA'),
 (2754, 'Abuja', 'NGA'),
 (2755, 'Kaduna', 'NGA'),
 (2756, 'Mushin', 'NGA'),
 (2757, 'Maiduguri', 'NGA'),
 (2758, 'Enugu', 'NGA'),
 (2759, 'Ede', 'NGA'),
 (2760, 'Aba', 'NGA'),
 (2761, 'Ife', 'NGA'),
 (2762, 'Ila', 'NGA'),
 (2763, 'Oyo', 'NGA'),
 (2764, 'Ikerre', 'NGA'),
 (2765, 'Benin City', 'NGA'),
 (2766, 'Iseyin', 'NGA'),
 (2767, 'Katsina', 'NGA'),
 (2768, 'Jos', 'NGA'),
 (2769, 'Sokoto', 'NGA'),
 (2770, 'Ilobu', 'NGA'),
 (2771, 'Offa', 'NGA'),
 (2772, 'Ikorodu', 'NGA'),
 (2773, 'Ilawe-Ekiti', 'NGA'),
 (2774, 'Owo', 'NGA'),
 (2775, 'Ikirun', 'NGA'),
 (2776, 'Shaki', 'NGA'),
 (2777, 'Calabar', 'NGA'),
 (2778, 'Ondo', 'NGA'),
 (2779, 'Akure', 'NGA'),
 (2780, 'Gusau', 'NGA'),
 (2781, 'Ijebu-Ode', 'NGA'),
 (2782, 'Effon-Alaiye', 'NGA'),
 (2783, 'Kumo', 'NGA'),
 (2784, 'Shomolu', 'NGA'),
 (2785, 'Oka-Akoko', 'NGA'),
 (2786, 'Ikare', 'NGA'),
 (2787, 'Sapele', 'NGA'),
 (2788, 'Deba Habe', 'NGA'),
 (2789, 'Minna', 'NGA'),
 (2790, 'Warri', 'NGA'),
 (2791, 'Bida', 'NGA'),
 (2792, 'Ikire', 'NGA'),
 (2793, 'Makurdi', 'NGA'),
 (2794, 'Lafia', 'NGA'),
 (2795, 'Inisa', 'NGA'),
 (2796, 'Shagamu', 'NGA'),
 (2797, 'Awka', 'NGA'),
 (2798, 'Gombe', 'NGA'),
 (2799, 'Igboho', 'NGA'),
 (2800, 'Ejigbo', 'NGA'),
 (2801, 'Agege', 'NGA'),
 (2802, 'Ise-Ekiti', 'NGA'),
 (2803, 'Ugep', 'NGA'),
 (2804, 'Epe', 'NGA'),
 (2974, 'Paris', 'FRA'),
 (2975, 'Marseille', 'FRA'),
 (2976, 'Lyon', 'FRA'),
 (2977, 'Toulouse', 'FRA'),
 (2978, 'Nice', 'FRA'),
 (2979, 'Nantes', 'FRA'),
 (2980, 'Strasbourg', 'FRA'),
 (2981, 'Montpellier', 'FRA'),
 (2982, 'Bordeaux', 'FRA'),
 (2983, 'Rennes', 'FRA'),
 (2984, 'Le Havre', 'FRA'),
 (2985, 'Reims', 'FRA'),
 (2986, 'Lille', 'FRA'),
 (2987, 'St-Ã‰tienne', 'FRA'),
 (2988, 'Toulon', 'FRA'),
 (2989, 'Grenoble', 'FRA'),
 (2990, 'Angers', 'FRA'),
 (2991, 'Dijon', 'FRA'),
 (2992, 'Brest', 'FRA'),
 (2993, 'Le Mans', 'FRA'),
 (2994, 'Clermont-Ferrand', 'FRA'),
 (2995, 'Amiens', 'FRA'),
 (2996, 'Aix-en-Provence', 'FRA'),
 (2997, 'Limoges', 'FRA'),
 (2998, 'NÃ®mes', 'FRA'),
 (2999, 'Tours', 'FRA'),
 (3000, 'Villeurbanne', 'FRA'),
 (3001, 'Metz', 'FRA'),
 (3002, 'BesanÃ§on', 'FRA'),
 (3003, 'Caen', 'FRA'),
 (3004, 'OrlÃ©ans', 'FRA'),
 (3005, 'Mulhouse', 'FRA'),
 (3006, 'Rouen', 'FRA'),
 (3007, 'Boulogne-Billancourt', 'FRA'),
 (3008, 'Perpignan', 'FRA'),
 (3009, 'Nancy', 'FRA'),
 (3010, 'Roubaix', 'FRA'),
 (3011, 'Argenteuil', 'FRA'),
 (3012, 'Tourcoing', 'FRA'),
 (3013, 'Montreuil', 'FRA'),
 (3047, 'Kigali', 'RWA'),
 (3064, 'Basseterre', 'KNA'),
 (3065, 'Castries', 'LCA'),
 (3217, 'Colombo', 'LKA'),
 (3218, 'Dehiwala', 'LKA'),
 (3219, 'Moratuwa', 'LKA'),
 (3220, 'Jaffna', 'LKA'),
 (3221, 'Kandy', 'LKA'),
 (3222, 'Sri Jayawardenepura Kotte', 'LKA'),
 (3223, 'Negombo', 'LKA'),
 (3305, 'Dar es Salaam', 'TZA'),
 (3306, 'Dodoma', 'TZA'),
 (3307, 'Mwanza', 'TZA'),
 (3308, 'Zanzibar', 'TZA'),
 (3309, 'Tanga', 'TZA'),
 (3310, 'Mbeya', 'TZA'),
 (3311, 'Morogoro', 'TZA'),
 (3312, 'Arusha', 'TZA'),
 (3313, 'Moshi', 'TZA'),
 (3314, 'Tabora', 'TZA'),
 (3320, 'Bangkok', 'THA'),
 (3321, 'Nonthaburi', 'THA'),
 (3322, 'Nakhon Ratchasima', 'THA'),
 (3323, 'Chiang Mai', 'THA'),
 (3324, 'Udon Thani', 'THA'),
 (3325, 'Hat Yai', 'THA'),
 (3326, 'Khon Kaen', 'THA'),
 (3327, 'Pak Kret', 'THA'),
 (3328, 'Nakhon Sawan', 'THA'),
 (3329, 'Ubon Ratchathani', 'THA'),
 (3330, 'Songkhla', 'THA'),
 (3331, 'Nakhon Pathom', 'THA'),
 (3423, 'Cockburn Town', 'TCA'),
 (3425, 'Kampala', 'UGA'),
 (3793, 'New York', 'USA'),
 (3794, 'Los Angeles', 'USA'),
 (3795, 'Chicago', 'USA'),
 (3796, 'Houston', 'USA'),
 (3797, 'Philadelphia', 'USA'),
 (3798, 'Phoenix', 'USA'),
 (3799, 'San Diego', 'USA'),
 (3800, 'Dallas', 'USA'),
 (3801, 'San Antonio', 'USA'),
 (3802, 'Detroit', 'USA'),
 (3803, 'San Jose', 'USA'),
 (3804, 'Indianapolis', 'USA'),
 (3805, 'San Francisco', 'USA'),
 (3806, 'Jacksonville', 'USA'),
 (3807, 'Columbus', 'USA'),
 (3808, 'Austin', 'USA'),
 (3809, 'Baltimore', 'USA'),
 (3810, 'Memphis', 'USA'),
 (3811, 'Milwaukee', 'USA'),
 (3812, 'Boston', 'USA'),
 (3813, 'Washington', 'USA'),
 (3814, 'Nashville-Davidson', 'USA'),
 (3815, 'El Paso', 'USA'),
 (3816, 'Seattle', 'USA'),
 (3817, 'Denver', 'USA'),
 (3818, 'Charlotte', 'USA'),
 (3819, 'Fort Worth', 'USA'),
 (3820, 'Portland', 'USA'),
 (3821, 'Oklahoma City', 'USA'),
 (3822, 'Tucson', 'USA'),
 (3823, 'New Orleans', 'USA'),
 (3824, 'Las Vegas', 'USA'),
 (3825, 'Cleveland', 'USA'),
 (3826, 'Long Beach', 'USA'),
 (3827, 'Albuquerque', 'USA'),
 (3828, 'Kansas City', 'USA'),
 (3829, 'Fresno', 'USA'),
 (3830, 'Virginia Beach', 'USA'),
 (3831, 'Atlanta', 'USA'),
 (3832, 'Sacramento', 'USA'),
 (3833, 'Oakland', 'USA'),
 (3834, 'Mesa', 'USA'),
 (3835, 'Tulsa', 'USA'),
 (3836, 'Omaha', 'USA'),
 (3837, 'Minneapolis', 'USA'),
 (3838, 'Honolulu', 'USA'),
 (3839, 'Miami', 'USA'),
 (3840, 'Colorado Springs', 'USA'),
 (3841, 'Saint Louis', 'USA'),
 (3842, 'Wichita', 'USA'),
 (3843, 'Santa Ana', 'USA'),
 (3844, 'Pittsburgh', 'USA'),
 (3845, 'Arlington', 'USA'),
 (3846, 'Cincinnati', 'USA'),
 (3847, 'Anaheim', 'USA'),
 (3848, 'Toledo', 'USA'),
 (3849, 'Tampa', 'USA'),
 (3850, 'Buffalo', 'USA'),
 (3851, 'Saint Paul', 'USA'),
 (3852, 'Corpus Christi', 'USA'),
 (3853, 'Aurora', 'USA'),
 (3854, 'Raleigh', 'USA'),
 (3855, 'Newark', 'USA'),
 (3856, 'Lexington-Fayette', 'USA'),
 (3857, 'Anchorage', 'USA'),
 (3858, 'Louisville', 'USA'),
 (3859, 'Riverside', 'USA'),
 (3860, 'Saint Petersburg', 'USA'),
 (3861, 'Bakersfield', 'USA'),
 (3862, 'Stockton', 'USA'),
 (3863, 'Birmingham', 'USA'),
 (3864, 'Jersey City', 'USA'),
 (3865, 'Norfolk', 'USA'),
 (3866, 'Baton Rouge', 'USA'),
 (3867, 'Hialeah', 'USA'),
 (3868, 'Lincoln', 'USA'),
 (3869, 'Greensboro', 'USA'),
 (3870, 'Plano', 'USA'),
 (3871, 'Rochester', 'USA'),
 (3872, 'Glendale', 'USA'),
 (3873, 'Akron', 'USA'),
 (3874, 'Garland', 'USA'),
 (3875, 'Madison', 'USA'),
 (3876, 'Fort Wayne', 'USA'),
 (3877, 'Fremont', 'USA'),
 (3878, 'Scottsdale', 'USA'),
 (3879, 'Montgomery', 'USA'),
 (3880, 'Shreveport', 'USA'),
 (3881, 'Augusta-Richmond County', 'USA'),
 (3882, 'Lubbock', 'USA'),
 (3883, 'Chesapeake', 'USA'),
 (3884, 'Mobile', 'USA'),
 (3885, 'Des Moines', 'USA'),
 (3886, 'Grand Rapids', 'USA'),
 (3887, 'Richmond', 'USA'),
 (3888, 'Yonkers', 'USA'),
 (3889, 'Spokane', 'USA'),
 (3890, 'Glendale', 'USA'),
 (3891, 'Tacoma', 'USA'),
 (3892, 'Irving', 'USA'),
 (3893, 'Huntington Beach', 'USA'),
 (3894, 'Modesto', 'USA'),
 (3895, 'Durham', 'USA'),
 (3896, 'Columbus', 'USA'),
 (3897, 'Orlando', 'USA'),
 (3898, 'Boise City', 'USA'),
 (3899, 'Winston-Salem', 'USA'),
 (3900, 'San Bernardino', 'USA'),
 (3901, 'Jackson', 'USA'),
 (3902, 'Little Rock', 'USA'),
 (3903, 'Salt Lake City', 'USA'),
 (3904, 'Reno', 'USA'),
 (3905, 'Newport News', 'USA'),
 (3906, 'Chandler', 'USA'),
 (3907, 'Laredo', 'USA'),
 (3908, 'Henderson', 'USA'),
 (3909, 'Arlington', 'USA'),
 (3910, 'Knoxville', 'USA'),
 (3911, 'Amarillo', 'USA'),
 (3912, 'Providence', 'USA'),
 (3913, 'Chula Vista', 'USA'),
 (3914, 'Worcester', 'USA'),
 (3915, 'Oxnard', 'USA'),
 (3916, 'Dayton', 'USA'),
 (3917, 'Garden Grove', 'USA'),
 (3918, 'Oceanside', 'USA'),
 (3919, 'Tempe', 'USA'),
 (3920, 'Huntsville', 'USA'),
 (3921, 'Ontario', 'USA'),
 (3922, 'Chattanooga', 'USA'),
 (3923, 'Fort Lauderdale', 'USA'),
 (3924, 'Springfield', 'USA'),
 (3925, 'Springfield', 'USA'),
 (3926, 'Santa Clarita', 'USA'),
 (3927, 'Salinas', 'USA'),
 (3928, 'Tallahassee', 'USA'),
 (3929, 'Rockford', 'USA'),
 (3930, 'Pomona', 'USA'),
 (3931, 'Metairie', 'USA'),
 (3932, 'Paterson', 'USA'),
 (3933, 'Overland Park', 'USA'),
 (3934, 'Santa Rosa', 'USA'),
 (3935, 'Syracuse', 'USA'),
 (3936, 'Kansas City', 'USA'),
 (3937, 'Hampton', 'USA'),
 (3938, 'Lakewood', 'USA'),
 (3939, 'Vancouver', 'USA'),
 (3940, 'Irvine', 'USA'),
 (3941, 'Aurora', 'USA'),
 (3942, 'Moreno Valley', 'USA'),
 (3943, 'Pasadena', 'USA'),
 (3944, 'Hayward', 'USA'),
 (3945, 'Brownsville', 'USA'),
 (3946, 'Bridgeport', 'USA'),
 (3947, 'Hollywood', 'USA'),
 (3948, 'Warren', 'USA'),
 (3949, 'Torrance', 'USA'),
 (3950, 'Eugene', 'USA'),
 (3951, 'Pembroke Pines', 'USA'),
 (3952, 'Salem', 'USA'),
 (3953, 'Pasadena', 'USA'),
 (3954, 'Escondido', 'USA'),
 (3955, 'Sunnyvale', 'USA'),
 (3956, 'Savannah', 'USA'),
 (3957, 'Fontana', 'USA'),
 (3958, 'Orange', 'USA'),
 (3959, 'Naperville', 'USA'),
 (3960, 'Alexandria', 'USA'),
 (3961, 'Rancho Cucamonga', 'USA'),
 (3962, 'Grand Prairie', 'USA'),
 (3963, 'East Los Angeles', 'USA'),
 (3964, 'Fullerton', 'USA'),
 (3965, 'Corona', 'USA'),
 (3966, 'Flint', 'USA'),
 (3967, 'Paradise', 'USA'),
 (3968, 'Mesquite', 'USA'),
 (3969, 'Sterling Heights', 'USA'),
 (3970, 'Sioux Falls', 'USA'),
 (3971, 'New Haven', 'USA'),
 (3972, 'Topeka', 'USA'),
 (3973, 'Concord', 'USA'),
 (3974, 'Evansville', 'USA'),
 (3975, 'Hartford', 'USA'),
 (3976, 'Fayetteville', 'USA'),
 (3977, 'Cedar Rapids', 'USA'),
 (3978, 'Elizabeth', 'USA'),
 (3979, 'Lansing', 'USA'),
 (3980, 'Lancaster', 'USA'),
 (3981, 'Fort Collins', 'USA'),
 (3982, 'Coral Springs', 'USA'),
 (3983, 'Stamford', 'USA'),
 (3984, 'Thousand Oaks', 'USA'),
 (3985, 'Vallejo', 'USA'),
 (3986, 'Palmdale', 'USA'),
 (3987, 'Columbia', 'USA'),
 (3988, 'El Monte', 'USA'),
 (3989, 'Abilene', 'USA'),
 (3990, 'North Las Vegas', 'USA'),
 (3991, 'Ann Arbor', 'USA'),
 (3992, 'Beaumont', 'USA'),
 (3993, 'Waco', 'USA'),
 (3994, 'Macon', 'USA'),
 (3995, 'Independence', 'USA'),
 (3996, 'Peoria', 'USA'),
 (3997, 'Inglewood', 'USA'),
 (3998, 'Springfield', 'USA'),
 (3999, 'Simi Valley', 'USA'),
 (4000, 'Lafayette', 'USA'),
 (4001, 'Gilbert', 'USA'),
 (4002, 'Carrollton', 'USA'),
 (4003, 'Bellevue', 'USA'),

# Query 19:  DROP VIEW

In [31]:
query= "DROP VIEW world.city_view"
cursor.execute(query)
cursor.fetchall()

[]

# Query20: Import external data from csv

In [32]:
query = "CREATE TABLE student.glass(Ser INT,RI INT,NA INT,Mg INT,Al INT,SI INT,K INT,Ca INT,Ba INT,Fe INT,Class INT)"
cursor.execute(query)
cursor.fetchall()

[]

In [33]:
# execute and insert the csv into the database.
with open('glass.data',"r") as data :
    next(data)
    data_csv = csv.reader(data, delimiter= "\n")
    print(data_csv)
    for i in enumerate(data_csv):
        print(i)
        for j in i[1] :
            print(type(j))
            cursor.execute('insert into student.glass values ({data})'.format(data=(j)))
    print("all the data inserted ")
    
mydb.commit()

<_csv.reader object at 0x00000141F29B9B80>
(0, ['1,1.52101,13.64,4.49,1.10,71.78,0.06,8.75,0.00,0.00,1'])
<class 'str'>
(1, ['2,1.51761,13.89,3.60,1.36,72.73,0.48,7.83,0.00,0.00,1'])
<class 'str'>
(2, ['3,1.51618,13.53,3.55,1.54,72.99,0.39,7.78,0.00,0.00,1'])
<class 'str'>
(3, ['4,1.51766,13.21,3.69,1.29,72.61,0.57,8.22,0.00,0.00,1'])
<class 'str'>
(4, ['5,1.51742,13.27,3.62,1.24,73.08,0.55,8.07,0.00,0.00,1'])
<class 'str'>
(5, ['6,1.51596,12.79,3.61,1.62,72.97,0.64,8.07,0.00,0.26,1'])
<class 'str'>
(6, ['7,1.51743,13.30,3.60,1.14,73.09,0.58,8.17,0.00,0.00,1'])
<class 'str'>
(7, ['8,1.51756,13.15,3.61,1.05,73.24,0.57,8.24,0.00,0.00,1'])
<class 'str'>
(8, ['9,1.51918,14.04,3.58,1.37,72.08,0.56,8.30,0.00,0.00,1'])
<class 'str'>
(9, ['10,1.51755,13.00,3.60,1.36,72.99,0.57,8.40,0.00,0.11,1'])
<class 'str'>
(10, ['11,1.51571,12.72,3.46,1.56,73.20,0.67,8.09,0.00,0.24,1'])
<class 'str'>
(11, ['12,1.51763,12.80,3.66,1.27,73.01,0.60,8.56,0.00,0.00,1'])
<class 'str'>
(12, ['13,1.51589,12.88,3.43,1.40,73.28,0.69,8.05,0.00,0.24,1'])
<class 'str'>
(13, ['14,1.51748,12.86,3.56,1.27,73.21,0.54,8.38,0.00,0.17,1'])
<class 'str'>
(14, ['15,1.51763,12.61,3.59,1.31,73.29,0.58,8.50,0.00,0.00,1'])
<class 'str'>
(15, ['16,1.51761,12.81,3.54,1.23,73.24,0.58,8.39,0.00,0.00,1'])
<class 'str'>
(16, ['17,1.51784,12.68,3.67,1.16,73.11,0.61,8.70,0.00,0.00,1'])
<class 'str'>
(17, ['18,1.52196,14.36,3.85,0.89,71.36,0.15,9.15,0.00,0.00,1'])
<class 'str'>
(18, ['19,1.51911,13.90,3.73,1.18,72.12,0.06,8.89,0.00,0.00,1'])
<class 'str'>
(19, ['20,1.51735,13.02,3.54,1.69,72.73,0.54,8.44,0.00,0.07,1'])
<class 'str'>
(20, ['21,1.51750,12.82,3.55,1.49,72.75,0.54,8.52,0.00,0.19,1'])
<class 'str'>
(21, ['22,1.51966,14.77,3.75,0.29,72.02,0.03,9.00,0.00,0.00,1'])
<class 'str'>
(22, ['23,1.51736,12.78,3.62,1.29,72.79,0.59,8.70,0.00,0.00,1'])
<class 'str'>
(23, ['24,1.51751,12.81,3.57,1.35,73.02,0.62,8.59,0.00,0.00,1'])
<class 'str'>
(24, ['25,1.51720,13.38,3.50,1.15,72.85,0.50,8.43,0.00,0.00,1'])
<class 'str'>
(25, ['26,1.51764,12.98,3.54,1.21,73.00,0.65,8.53,0.00,0.00,1'])
<class 'str'>
(26, ['27,1.51793,13.21,3.48,1.41,72.64,0.59,8.43,0.00,0.00,1'])
<class 'str'>
(27, ['28,1.51721,12.87,3.48,1.33,73.04,0.56,8.43,0.00,0.00,1'])
<class 'str'>
(28, ['29,1.51768,12.56,3.52,1.43,73.15,0.57,8.54,0.00,0.00,1'])
<class 'str'>
(29, ['30,1.51784,13.08,3.49,1.28,72.86,0.60,8.49,0.00,0.00,1'])
<class 'str'>
(30, ['31,1.51768,12.65,3.56,1.30,73.08,0.61,8.69,0.00,0.14,1'])
<class 'str'>
(31, ['32,1.51747,12.84,3.50,1.14,73.27,0.56,8.55,0.00,0.00,1'])
<class 'str'>
(32, ['33,1.51775,12.85,3.48,1.23,72.97,0.61,8.56,0.09,0.22,1'])
<class 'str'>
(33, ['34,1.51753,12.57,3.47,1.38,73.39,0.60,8.55,0.00,0.06,1'])
<class 'str'>
(34, ['35,1.51783,12.69,3.54,1.34,72.95,0.57,8.75,0.00,0.00,1'])
<class 'str'>
(35, ['36,1.51567,13.29,3.45,1.21,72.74,0.56,8.57,0.00,0.00,1'])
<class 'str'>
(36, ['37,1.51909,13.89,3.53,1.32,71.81,0.51,8.78,0.11,0.00,1'])
<class 'str'>
(37, ['38,1.51797,12.74,3.48,1.35,72.96,0.64,8.68,0.00,0.00,1'])
<class 'str'>
(38, ['39,1.52213,14.21,3.82,0.47,71.77,0.11,9.57,0.00,0.00,1'])
<class 'str'>
(39, ['40,1.52213,14.21,3.82,0.47,71.77,0.11,9.57,0.00,0.00,1'])
<class 'str'>
(40, ['41,1.51793,12.79,3.50,1.12,73.03,0.64,8.77,0.00,0.00,1'])
<class 'str'>
(41, ['42,1.51755,12.71,3.42,1.20,73.20,0.59,8.64,0.00,0.00,1'])
<class 'str'>
(42, ['43,1.51779,13.21,3.39,1.33,72.76,0.59,8.59,0.00,0.00,1'])
<class 'str'>
(43, ['44,1.52210,13.73,3.84,0.72,71.76,0.17,9.74,0.00,0.00,1'])
<class 'str'>
(44, ['45,1.51786,12.73,3.43,1.19,72.95,0.62,8.76,0.00,0.30,1'])
<class 'str'>
(45, ['46,1.51900,13.49,3.48,1.35,71.95,0.55,9.00,0.00,0.00,1'])
<class 'str'>
(46, ['47,1.51869,13.19,3.37,1.18,72.72,0.57,8.83,0.00,0.16,1'])
<class 'str'>
(47, ['48,1.52667,13.99,3.70,0.71,71.57,0.02,9.82,0.00,0.10,1'])
<class 'str'>
(48, ['49,1.52223,13.21,3.77,0.79,71.99,0.13,10.02,0.00,0.00,1'])
<class 'str'>
(49, ['50,1.51898,13.58,3.35,1.23,72.08,0.59,8.91,0.00,0.00,1'])
<class 'str'>
(50, ['51,1.52320,13.72,3.72,0.51,71.75,0.09,10.06,0.00,0.16,1'])
<class 'str'>
(51, ['52,1.51926,13.20,3.33,1.28,72.36,0.60,9.14,0.00,0.11,1'])
<class 'str'>
(52, ['53,1.51808,13.43,2.87,1.19,72.84,0.55,9.03,0.00,0.00,1'])
<class 'str'>
(53, ['54,1.51837,13.14,2.84,1.28,72.85,0.55,9.07,0.00,0.00,1'])
<class 'str'>
(54, ['55,1.51778,13.21,2.81,1.29,72.98,0.51,9.02,0.00,0.09,1'])
<class 'str'>
(55, ['56,1.51769,12.45,2.71,1.29,73.70,0.56,9.06,0.00,0.24,1'])
<class 'str'>
(56, ['57,1.51215,12.99,3.47,1.12,72.98,0.62,8.35,0.00,0.31,1'])
<class 'str'>
(57, ['58,1.51824,12.87,3.48,1.29,72.95,0.60,8.43,0.00,0.00,1'])
<class 'str'>
(58, ['59,1.51754,13.48,3.74,1.17,72.99,0.59,8.03,0.00,0.00,1'])
<class 'str'>
(59, ['60,1.51754,13.39,3.66,1.19,72.79,0.57,8.27,0.00,0.11,1'])
<class 'str'>
(60, ['61,1.51905,13.60,3.62,1.11,72.64,0.14,8.76,0.00,0.00,1'])
<class 'str'>
(61, ['62,1.51977,13.81,3.58,1.32,71.72,0.12,8.67,0.69,0.00,1'])
<class 'str'>
(62, ['63,1.52172,13.51,3.86,0.88,71.79,0.23,9.54,0.00,0.11,1'])
<class 'str'>
(63, ['64,1.52227,14.17,3.81,0.78,71.35,0.00,9.69,0.00,0.00,1'])
<class 'str'>
(64, ['65,1.52172,13.48,3.74,0.90,72.01,0.18,9.61,0.00,0.07,1'])
<class 'str'>
(65, ['66,1.52099,13.69,3.59,1.12,71.96,0.09,9.40,0.00,0.00,1'])
<class 'str'>
(66, ['67,1.52152,13.05,3.65,0.87,72.22,0.19,9.85,0.00,0.17,1'])
<class 'str'>
(67, ['68,1.52152,13.05,3.65,0.87,72.32,0.19,9.85,0.00,0.17,1'])
<class 'str'>
(68, ['69,1.52152,13.12,3.58,0.90,72.20,0.23,9.82,0.00,0.16,1'])
<class 'str'>
(69, ['70,1.52300,13.31,3.58,0.82,71.99,0.12,10.17,0.00,0.03,1'])
<class 'str'>
(70, ['71,1.51574,14.86,3.67,1.74,71.87,0.16,7.36,0.00,0.12,2'])
<class 'str'>
(71, ['72,1.51848,13.64,3.87,1.27,71.96,0.54,8.32,0.00,0.32,2'])
<class 'str'>
(72, ['73,1.51593,13.09,3.59,1.52,73.10,0.67,7.83,0.00,0.00,2'])
<class 'str'>
(73, ['74,1.51631,13.34,3.57,1.57,72.87,0.61,7.89,0.00,0.00,2'])
<class 'str'>
(74, ['75,1.51596,13.02,3.56,1.54,73.11,0.72,7.90,0.00,0.00,2'])
<class 'str'>
(75, ['76,1.51590,13.02,3.58,1.51,73.12,0.69,7.96,0.00,0.00,2'])
<class 'str'>
(76, ['77,1.51645,13.44,3.61,1.54,72.39,0.66,8.03,0.00,0.00,2'])
<class 'str'>
(77, ['78,1.51627,13.00,3.58,1.54,72.83,0.61,8.04,0.00,0.00,2'])
<class 'str'>
(78, ['79,1.51613,13.92,3.52,1.25,72.88,0.37,7.94,0.00,0.14,2'])
<class 'str'>
(79, ['80,1.51590,12.82,3.52,1.90,72.86,0.69,7.97,0.00,0.00,2'])
<class 'str'>
(80, ['81,1.51592,12.86,3.52,2.12,72.66,0.69,7.97,0.00,0.00,2'])
<class 'str'>
(81, ['82,1.51593,13.25,3.45,1.43,73.17,0.61,7.86,0.00,0.00,2'])
<class 'str'>
(82, ['83,1.51646,13.41,3.55,1.25,72.81,0.68,8.10,0.00,0.00,2'])
<class 'str'>
(83, ['84,1.51594,13.09,3.52,1.55,72.87,0.68,8.05,0.00,0.09,2'])
<class 'str'>
(84, ['85,1.51409,14.25,3.09,2.08,72.28,1.10,7.08,0.00,0.00,2'])
<class 'str'>
(85, ['86,1.51625,13.36,3.58,1.49,72.72,0.45,8.21,0.00,0.00,2'])
<class 'str'>
(86, ['87,1.51569,13.24,3.49,1.47,73.25,0.38,8.03,0.00,0.00,2'])
<class 'str'>
(87, ['88,1.51645,13.40,3.49,1.52,72.65,0.67,8.08,0.00,0.10,2'])
<class 'str'>
(88, ['89,1.51618,13.01,3.50,1.48,72.89,0.60,8.12,0.00,0.00,2'])
<class 'str'>
(89, ['90,1.51640,12.55,3.48,1.87,73.23,0.63,8.08,0.00,0.09,2'])
<class 'str'>
(90, ['91,1.51841,12.93,3.74,1.11,72.28,0.64,8.96,0.00,0.22,2'])
<class 'str'>
(91, ['92,1.51605,12.90,3.44,1.45,73.06,0.44,8.27,0.00,0.00,2'])
<class 'str'>
(92, ['93,1.51588,13.12,3.41,1.58,73.26,0.07,8.39,0.00,0.19,2'])
<class 'str'>
(93, ['94,1.51590,13.24,3.34,1.47,73.10,0.39,8.22,0.00,0.00,2'])
<class 'str'>
(94, ['95,1.51629,12.71,3.33,1.49,73.28,0.67,8.24,0.00,0.00,2'])
<class 'str'>
(95, ['96,1.51860,13.36,3.43,1.43,72.26,0.51,8.60,0.00,0.00,2'])
<class 'str'>
(96, ['97,1.51841,13.02,3.62,1.06,72.34,0.64,9.13,0.00,0.15,2'])
<class 'str'>
(97, ['98,1.51743,12.20,3.25,1.16,73.55,0.62,8.90,0.00,0.24,2'])
<class 'str'>
(98, ['99,1.51689,12.67,2.88,1.71,73.21,0.73,8.54,0.00,0.00,2'])
<class 'str'>
(99, ['100,1.51811,12.96,2.96,1.43,72.92,0.60,8.79,0.14,0.00,2'])
<class 'str'>
(100, ['101,1.51655,12.75,2.85,1.44,73.27,0.57,8.79,0.11,0.22,2'])
<class 'str'>
(101, ['102,1.51730,12.35,2.72,1.63,72.87,0.70,9.23,0.00,0.00,2'])
<class 'str'>
(102, ['103,1.51820,12.62,2.76,0.83,73.81,0.35,9.42,0.00,0.20,2'])
<class 'str'>
(103, ['104,1.52725,13.80,3.15,0.66,70.57,0.08,11.64,0.00,0.00,2'])
<class 'str'>
(104, ['105,1.52410,13.83,2.90,1.17,71.15,0.08,10.79,0.00,0.00,2'])
<class 'str'>
(105, ['106,1.52475,11.45,0.00,1.88,72.19,0.81,13.24,0.00,0.34,2'])
<class 'str'>
(106, ['107,1.53125,10.73,0.00,2.10,69.81,0.58,13.30,3.15,0.28,2'])
<class 'str'>
(107, ['108,1.53393,12.30,0.00,1.00,70.16,0.12,16.19,0.00,0.24,2'])
<class 'str'>
(108, ['109,1.52222,14.43,0.00,1.00,72.67,0.10,11.52,0.00,0.08,2'])
<class 'str'>
(109, ['110,1.51818,13.72,0.00,0.56,74.45,0.00,10.99,0.00,0.00,2'])
<class 'str'>
(110, ['111,1.52664,11.23,0.00,0.77,73.21,0.00,14.68,0.00,0.00,2'])
<class 'str'>
(111, ['112,1.52739,11.02,0.00,0.75,73.08,0.00,14.96,0.00,0.00,2'])
<class 'str'>
(112, ['113,1.52777,12.64,0.00,0.67,72.02,0.06,14.40,0.00,0.00,2'])
<class 'str'>
(113, ['114,1.51892,13.46,3.83,1.26,72.55,0.57,8.21,0.00,0.14,2'])
<class 'str'>
(114, ['115,1.51847,13.10,3.97,1.19,72.44,0.60,8.43,0.00,0.00,2'])
<class 'str'>
(115, ['116,1.51846,13.41,3.89,1.33,72.38,0.51,8.28,0.00,0.00,2'])
<class 'str'>
(116, ['117,1.51829,13.24,3.90,1.41,72.33,0.55,8.31,0.00,0.10,2'])
<class 'str'>
(117, ['118,1.51708,13.72,3.68,1.81,72.06,0.64,7.88,0.00,0.00,2'])
<class 'str'>
(118, ['119,1.51673,13.30,3.64,1.53,72.53,0.65,8.03,0.00,0.29,2'])
<class 'str'>
(119, ['120,1.51652,13.56,3.57,1.47,72.45,0.64,7.96,0.00,0.00,2'])
<class 'str'>
(120, ['121,1.51844,13.25,3.76,1.32,72.40,0.58,8.42,0.00,0.00,2'])
<class 'str'>
(121, ['122,1.51663,12.93,3.54,1.62,72.96,0.64,8.03,0.00,0.21,2'])
<class 'str'>
(122, ['123,1.51687,13.23,3.54,1.48,72.84,0.56,8.10,0.00,0.00,2'])
<class 'str'>
(123, ['124,1.51707,13.48,3.48,1.71,72.52,0.62,7.99,0.00,0.00,2'])
<class 'str'>
(124, ['125,1.52177,13.20,3.68,1.15,72.75,0.54,8.52,0.00,0.00,2'])
<class 'str'>
(125, ['126,1.51872,12.93,3.66,1.56,72.51,0.58,8.55,0.00,0.12,2'])
<class 'str'>
(126, ['127,1.51667,12.94,3.61,1.26,72.75,0.56,8.60,0.00,0.00,2'])
<class 'str'>
(127, ['128,1.52081,13.78,2.28,1.43,71.99,0.49,9.85,0.00,0.17,2'])
<class 'str'>
(128, ['129,1.52068,13.55,2.09,1.67,72.18,0.53,9.57,0.27,0.17,2'])
<class 'str'>
(129, ['130,1.52020,13.98,1.35,1.63,71.76,0.39,10.56,0.00,0.18,2'])
<class 'str'>
(130, ['131,1.52177,13.75,1.01,1.36,72.19,0.33,11.14,0.00,0.00,2'])
<class 'str'>
(131, ['132,1.52614,13.70,0.00,1.36,71.24,0.19,13.44,0.00,0.10,2'])
<class 'str'>
(132, ['133,1.51813,13.43,3.98,1.18,72.49,0.58,8.15,0.00,0.00,2'])
<class 'str'>
(133, ['134,1.51800,13.71,3.93,1.54,71.81,0.54,8.21,0.00,0.15,2'])
<class 'str'>
(134, ['135,1.51811,13.33,3.85,1.25,72.78,0.52,8.12,0.00,0.00,2'])
<class 'str'>
(135, ['136,1.51789,13.19,3.90,1.30,72.33,0.55,8.44,0.00,0.28,2'])
<class 'str'>
(136, ['137,1.51806,13.00,3.80,1.08,73.07,0.56,8.38,0.00,0.12,2'])
<class 'str'>
(137, ['138,1.51711,12.89,3.62,1.57,72.96,0.61,8.11,0.00,0.00,2'])
<class 'str'>
(138, ['139,1.51674,12.79,3.52,1.54,73.36,0.66,7.90,0.00,0.00,2'])
<class 'str'>
(139, ['140,1.51674,12.87,3.56,1.64,73.14,0.65,7.99,0.00,0.00,2'])
<class 'str'>
(140, ['141,1.51690,13.33,3.54,1.61,72.54,0.68,8.11,0.00,0.00,2'])
<class 'str'>
(141, ['142,1.51851,13.20,3.63,1.07,72.83,0.57,8.41,0.09,0.17,2'])
<class 'str'>
(142, ['143,1.51662,12.85,3.51,1.44,73.01,0.68,8.23,0.06,0.25,2'])
<class 'str'>
(143, ['144,1.51709,13.00,3.47,1.79,72.72,0.66,8.18,0.00,0.00,2'])
<class 'str'>
(144, ['145,1.51660,12.99,3.18,1.23,72.97,0.58,8.81,0.00,0.24,2'])
<class 'str'>
(145, ['146,1.51839,12.85,3.67,1.24,72.57,0.62,8.68,0.00,0.35,2'])
<class 'str'>
(146, ['147,1.51769,13.65,3.66,1.11,72.77,0.11,8.60,0.00,0.00,3'])
<class 'str'>
(147, ['148,1.51610,13.33,3.53,1.34,72.67,0.56,8.33,0.00,0.00,3'])
<class 'str'>
(148, ['149,1.51670,13.24,3.57,1.38,72.70,0.56,8.44,0.00,0.10,3'])
<class 'str'>
(149, ['150,1.51643,12.16,3.52,1.35,72.89,0.57,8.53,0.00,0.00,3'])
<class 'str'>
(150, ['151,1.51665,13.14,3.45,1.76,72.48,0.60,8.38,0.00,0.17,3'])
<class 'str'>
(151, ['152,1.52127,14.32,3.90,0.83,71.50,0.00,9.49,0.00,0.00,3'])
<class 'str'>
(152, ['153,1.51779,13.64,3.65,0.65,73.00,0.06,8.93,0.00,0.00,3'])
<class 'str'>
(153, ['154,1.51610,13.42,3.40,1.22,72.69,0.59,8.32,0.00,0.00,3'])
<class 'str'>
(154, ['155,1.51694,12.86,3.58,1.31,72.61,0.61,8.79,0.00,0.00,3'])
<class 'str'>
(155, ['156,1.51646,13.04,3.40,1.26,73.01,0.52,8.58,0.00,0.00,3'])
<class 'str'>
(156, ['157,1.51655,13.41,3.39,1.28,72.64,0.52,8.65,0.00,0.00,3'])
<class 'str'>
(157, ['158,1.52121,14.03,3.76,0.58,71.79,0.11,9.65,0.00,0.00,3'])
<class 'str'>
(158, ['159,1.51776,13.53,3.41,1.52,72.04,0.58,8.79,0.00,0.00,3'])
<class 'str'>
(159, ['160,1.51796,13.50,3.36,1.63,71.94,0.57,8.81,0.00,0.09,3'])
<class 'str'>
(160, ['161,1.51832,13.33,3.34,1.54,72.14,0.56,8.99,0.00,0.00,3'])
<class 'str'>
(161, ['162,1.51934,13.64,3.54,0.75,72.65,0.16,8.89,0.15,0.24,3'])
<class 'str'>
(162, ['163,1.52211,14.19,3.78,0.91,71.36,0.23,9.14,0.00,0.37,3'])
<class 'str'>
(163, ['164,1.51514,14.01,2.68,3.50,69.89,1.68,5.87,2.20,0.00,5'])
<class 'str'>
(164, ['165,1.51915,12.73,1.85,1.86,72.69,0.60,10.09,0.00,0.00,5'])
<class 'str'>
(165, ['166,1.52171,11.56,1.88,1.56,72.86,0.47,11.41,0.00,0.00,5'])
<class 'str'>
(166, ['167,1.52151,11.03,1.71,1.56,73.44,0.58,11.62,0.00,0.00,5'])
<class 'str'>
(167, ['168,1.51969,12.64,0.00,1.65,73.75,0.38,11.53,0.00,0.00,5'])
<class 'str'>
(168, ['169,1.51666,12.86,0.00,1.83,73.88,0.97,10.17,0.00,0.00,5'])
<class 'str'>
(169, ['170,1.51994,13.27,0.00,1.76,73.03,0.47,11.32,0.00,0.00,5'])
<class 'str'>
(170, ['171,1.52369,13.44,0.00,1.58,72.22,0.32,12.24,0.00,0.00,5'])
<class 'str'>
(171, ['172,1.51316,13.02,0.00,3.04,70.48,6.21,6.96,0.00,0.00,5'])
<class 'str'>
(172, ['173,1.51321,13.00,0.00,3.02,70.70,6.21,6.93,0.00,0.00,5'])
<class 'str'>
(173, ['174,1.52043,13.38,0.00,1.40,72.25,0.33,12.50,0.00,0.00,5'])
<class 'str'>
(174, ['175,1.52058,12.85,1.61,2.17,72.18,0.76,9.70,0.24,0.51,5'])
<class 'str'>
(175, ['176,1.52119,12.97,0.33,1.51,73.39,0.13,11.27,0.00,0.28,5'])
<class 'str'>
(176, ['177,1.51905,14.00,2.39,1.56,72.37,0.00,9.57,0.00,0.00,6'])
<class 'str'>
(177, ['178,1.51937,13.79,2.41,1.19,72.76,0.00,9.77,0.00,0.00,6'])
<class 'str'>
(178, ['179,1.51829,14.46,2.24,1.62,72.38,0.00,9.26,0.00,0.00,6'])
<class 'str'>
(179, ['180,1.51852,14.09,2.19,1.66,72.67,0.00,9.32,0.00,0.00,6'])
<class 'str'>
(180, ['181,1.51299,14.40,1.74,1.54,74.55,0.00,7.59,0.00,0.00,6'])
<class 'str'>
(181, ['182,1.51888,14.99,0.78,1.74,72.50,0.00,9.95,0.00,0.00,6'])
<class 'str'>
(182, ['183,1.51916,14.15,0.00,2.09,72.74,0.00,10.88,0.00,0.00,6'])
<class 'str'>
(183, ['184,1.51969,14.56,0.00,0.56,73.48,0.00,11.22,0.00,0.00,6'])
<class 'str'>
(184, ['185,1.51115,17.38,0.00,0.34,75.41,0.00,6.65,0.00,0.00,6'])
<class 'str'>
(185, ['186,1.51131,13.69,3.20,1.81,72.81,1.76,5.43,1.19,0.00,7'])
<class 'str'>
(186, ['187,1.51838,14.32,3.26,2.22,71.25,1.46,5.79,1.63,0.00,7'])
<class 'str'>
(187, ['188,1.52315,13.44,3.34,1.23,72.38,0.60,8.83,0.00,0.00,7'])
<class 'str'>
(188, ['189,1.52247,14.86,2.20,2.06,70.26,0.76,9.76,0.00,0.00,7'])
<class 'str'>
(189, ['190,1.52365,15.79,1.83,1.31,70.43,0.31,8.61,1.68,0.00,7'])
<class 'str'>
(190, ['191,1.51613,13.88,1.78,1.79,73.10,0.00,8.67,0.76,0.00,7'])
<class 'str'>
(191, ['192,1.51602,14.85,0.00,2.38,73.28,0.00,8.76,0.64,0.09,7'])
<class 'str'>
(192, ['193,1.51623,14.20,0.00,2.79,73.46,0.04,9.04,0.40,0.09,7'])
<class 'str'>
(193, ['194,1.51719,14.75,0.00,2.00,73.02,0.00,8.53,1.59,0.08,7'])
<class 'str'>
(194, ['195,1.51683,14.56,0.00,1.98,73.29,0.00,8.52,1.57,0.07,7'])
<class 'str'>
(195, ['196,1.51545,14.14,0.00,2.68,73.39,0.08,9.07,0.61,0.05,7'])
<class 'str'>
(196, ['197,1.51556,13.87,0.00,2.54,73.23,0.14,9.41,0.81,0.01,7'])
<class 'str'>
(197, ['198,1.51727,14.70,0.00,2.34,73.28,0.00,8.95,0.66,0.00,7'])
<class 'str'>
(198, ['199,1.51531,14.38,0.00,2.66,73.10,0.04,9.08,0.64,0.00,7'])
<class 'str'>
(199, ['200,1.51609,15.01,0.00,2.51,73.05,0.05,8.83,0.53,0.00,7'])
<class 'str'>
(200, ['201,1.51508,15.15,0.00,2.25,73.50,0.00,8.34,0.63,0.00,7'])
<class 'str'>
(201, ['202,1.51653,11.95,0.00,1.19,75.18,2.70,8.93,0.00,0.00,7'])
<class 'str'>
(202, ['203,1.51514,14.85,0.00,2.42,73.72,0.00,8.39,0.56,0.00,7'])
<class 'str'>
(203, ['204,1.51658,14.80,0.00,1.99,73.11,0.00,8.28,1.71,0.00,7'])
<class 'str'>
(204, ['205,1.51617,14.95,0.00,2.27,73.30,0.00,8.71,0.67,0.00,7'])
<class 'str'>
(205, ['206,1.51732,14.95,0.00,1.80,72.99,0.00,8.61,1.55,0.00,7'])
<class 'str'>
(206, ['207,1.51645,14.94,0.00,1.87,73.11,0.00,8.67,1.38,0.00,7'])
<class 'str'>
(207, ['208,1.51831,14.39,0.00,1.82,72.86,1.41,6.47,2.88,0.00,7'])
<class 'str'>
(208, ['209,1.51640,14.37,0.00,2.74,72.85,0.00,9.45,0.54,0.00,7'])
<class 'str'>
(209, ['210,1.51623,14.14,0.00,2.88,72.61,0.08,9.18,1.06,0.00,7'])
<class 'str'>
(210, ['211,1.51685,14.92,0.00,1.99,73.06,0.00,8.40,1.59,0.00,7'])
<class 'str'>
(211, ['212,1.52065,14.36,0.00,2.02,73.42,0.00,8.44,1.64,0.00,7'])
<class 'str'>
(212, ['213,1.51651,14.38,0.00,1.94,73.61,0.00,8.48,1.57,0.00,7'])
<class 'str'>
(213, ['214,1.51711,14.23,0.00,2.08,73.36,0.00,8.62,1.67,0.00,7'])
<class 'str'>
all the data inserted

# Query21: Math function -Count

In [34]:
# Number of row
query = "select count(*) FROM student.glass"
cursor.execute(query)
cursor.fetchall()

[(214,)]

# Query22:  Math function - Mean

In [35]:
query = "select AVG(SI) FROM student.glass"
cursor.execute(query)
cursor.fetchall()

[(Decimal('72.6495'),)]

# Query23:  Math function - MIN

In [36]:
query = "select MIN(SI) FROM student.glass"
cursor.execute(query)
cursor.fetchall()

[(70,)]

# Query24:  BETWEEN

In [37]:
query = "select SI FROM student.glass WHERE SI BETWEEN 70 AND 75 LIMIT 10"
cursor.execute(query)
cursor.fetchall()

[(72,), (73,), (73,), (73,), (73,), (73,), (73,), (73,), (72,), (73,)]

# Query25:  DELETE DATABASE

In [38]:
query = "DROP DATABASE student"
cursor.execute(query)
cursor.fetchall()

[]

In [39]:
query = "SHOW DATABASES"
cursor.execute(query)
cursor.fetchall()

[('information_schema',),
 ('mysql',),
 ('performance_schema',),
 ('sakila',),
 ('sys',),
 ('world',)]